.sidebar{
    max-height: 100vh;
    flex:0.17;
    overflow-y: auto;
    position: sticky;
    top:0;
    z-index: 50;
    background-color: white;
}

.sidebar > hr{
    position: relative; 
    border: none; 
    height: 1px; 
    background: rgb(211, 211, 211); 
    margin-bottom: 10px; 
}

.sidebar > hr{
    position: relative; 
    border: none; 
    height: 1px; 
    background: rgb(211, 211, 211); 
    margin-bottom: 10px; 
}
.sidebar__sec{
    margin-left: 25px;
    color: rgb(75, 74, 74);
}

@media only screen and (max-width: 1026px) {
    .sidebar__sec {
        display: none;
    }
}